@import '../../../assets/scss/variablesMap';

.ui-autocomplete {
  width: auto;
  zoom: 1;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: block;
  background-color: $white;
}

.ui-autocomplete .ui-autocomplete-dropdown {
  height: 100%;
  width: 2em;
  margin-right: 0;
  vertical-align: top;
}

.ui-autocomplete-query {
  font-weight: bold;
}

.ui-autocomplete-panel {
  position: absolute;
  overflow: auto;
}

.ui-autocomplete-panel .ui-autocomplete-list {
  padding: .4em;
  border: 0 none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
  border: 0 none;
  cursor: pointer;
  font-weight: normal;
  margin: 1px 0;
  padding: .186em .313em;
  text-align: left;
}

.ui-autocomplete .ui-button-icon-only {
  border-left: 0 none;
}
@keyframes slideDown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Multiple Selection */
label.ui-autocomplete.ui-autocomplete-multiple { padding-right: 32px !important; }
.ui-autocomplete {
  &.ui-autocomplete-multiple {
    border: 1px solid $grey--3;
    border-radius: 9px;
    position: relative;
    padding-top: 3px;
    padding-right: 32px !important;

    &.focus {
      border: 1px solid $unsuitable-blue--sky;
    }
  }

  .ui-autocomplete-token {
    white-space: nowrap;
    padding-right: 30px;
    width: auto;
    position: relative;
    background-color: $teal--1;
    color: $white;
    padding: 5px 8px;
    border-radius: 6px;
    margin: 1px;

    ae-icon {
      position: absolute;
      top: 4px;
      right: 3px;
      cursor: pointer;
    }
  }

  .ui-autocomplete-panel {
    margin-top: 2px;
    border: 1px solid $teal--2;
    border-radius: 6px;
    position: absolute;
    z-index: 9;
    background: $white;
    width: 100%;

    .ui-autocomplete-items {
      margin: 0;
      animation: slideDown .1s;

      li.ui-autocomplete-list-item.ui-state-highlight,
      li.ui-autocomplete-list-item:hover {
        background: $teal--1;
        border-radius: 6px;
        padding: 3px 5px;
        color: $white;
      }
    }
  }

  .empty {
    display: none;
  }
}

.ui-autocomplete-multiple-container {
  display: inline-block;
}

.ui-autocomplete-multiple-container.ui-inputtext {
  cursor: text;
  list-style-type: none;
  overflow: hidden;
  padding: 0 0 0 5px;
  max-width: 100%;
  margin: 0;
}

.ui-autocomplete-token {
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: .125em .5em;
  white-space: nowrap;
  position: relative;
  margin-right: .125em;
  border: 0 none;
  font-size: .9em;
  max-width: 100%;
}

.ui-autocomplete-token-label {
  display: block;
  margin-right: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-autocomplete-token-icon {
  margin-top: -.5em;
  position: absolute;
  right: .2em;
  top: 50%;
  cursor: pointer;
}

.ui-autocomplete-input-token {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0 0 0 .125em;
  padding: .25em .25em .25em 0;

  input[type="text"] {
    box-shadow: none;
  }
}

.ui-autocomplete-input-token .ui-inputtext {
  border: 0 none;
  width: 10em;
  outline: medium none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ui-autocomplete-dd .ui-autocomplete-multiple-container.ui-corner-all,
.ui-autocomplete-dd input.ui-corner-all {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/** AutoComplete **/

.ui-fluid .ui-autocomplete,
.ui-fluid .ui-autocomplete-input {
  width: 100%;
}

.ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-autocomplete-input,
.ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-autocomplete-multiple-container {
  width: calc(100% - 2em);
}

.ui-fluid .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
  width: 2em;
}

ae-autocomplete {
  display: block;
  position: relative;

  .ui-autocomplete-token-clear {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
    width: 30px;
    height: 38px;
    padding: 8px 5px;
    border-radius: 6px;
    color: $red--0;
  }

  .ae-autocomplete-input,
  .ui-autocomplete ae-input {
    margin-top: 0 !important;
  }
}
