@import '../../../../../assets/scss/variablesMap';
.procedures-tabs{
    padding: 30px 30px 0;
    .icon--medium{
        display: inline-flex;
        .count{
            margin-left: 15px;
            opacity: .5;
        }
    }
}
.notification-example{margin-top: 20px;}