.inspection-label {
    font-weight: bold;
    max-width: 40%;
}

.section {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.item-content {
    width: 100%;
    padding-right: 20px;
}

.item-photo {
    height: 125px;
    width: 125px;
    margin: 15px;
}

.venue_image {
    height: 200px;
    width: 200px;
}

.price-scale {
    color: green;
    font-weight: bold;
    font-size: 12px;
}