 <div class="so-panel__title">

  <h3 class="grey-strip">{{'BULK_PASSWORD_RESET' | translate:lang}}</h3>
</div>
 
        <div class="so-panel__content change-password">
            <p>{{'Slideout.Body_text_instruction_1' | translate:lang}}</p>
            <p>{{'Slideout.Body_text_instruction_2' | translate:lang}}</p>
            <ul class="list">
                <li>{{'PASSWORD_VALIDATION_RULES.CHAR_LENGTH' | translate:lang}}</li>
                <li>{{'PASSWORD_VALIDATION_RULES.LOWER_CASE' | translate:lang}}</li>
                <li>{{'PASSWORD_VALIDATION_RULES.CAPITAL_LETTER' | translate:lang}}</li>
                <li>{{'PASSWORD_VALIDATION_RULES.ONE_DIGIT' | translate:lang}}</li>
                <li>{{'PASSWORD_VALIDATION_RULES.SPECIAL_CHARACTER' | translate:lang}}</li>
            </ul>
                <form method="post" [formGroup]="bulkResetForm">
                    <div class="form__input">
                        <label>{{'PASSWORD' | translate: lang}}
                            <ae-input [id]="'newPassword'" [name]="'newPassword'" class="form-control" [placeholder]="'CHANGEPASSWORD.ENTER_NEWPASSWORD'| translate:lang" formControlName="newPassword" [type]="inputType"></ae-input>
                        </label>
                        <span *ngIf="fieldHasError('newPassword')" class="form__input__error">{{'CHANGEPASSWORD.FIELD_REQUIRED' | translate:lang}}</span>
                        <span *ngIf="fieldHasInvalidPassword('newPassword')&&!samePassword" class="form__input__error">{{'CHANGEPASSWORD.PASSWORD_CRITERIA' | translate:lang}}</span>
                    </div>
                    <div class="form__input">
                        <label>{{'CONFIRM_PASSWORD' | translate: lang}}
                            <ae-input [id]="'confirmPassword'" [name]="'confirmPassword'" [placeholder]="'CHANGEPASSWORD.REENTER_PASSWORD'| translate:lang" formControlName="confirmPassword" [type]="inputType"></ae-input>
                        </label>
                        <span *ngIf="fieldHasError('confirmPassword')" class="form__input__error">{{'CHANGEPASSWORD.FIELD_REQUIRED' | translate:lang}}</span>
                        <span *ngIf="bulkResetForm.hasError('mismatchedPasswords')&&bulkResetForm.get('confirmPassword').valid" class="form__input__error">{{'CHANGEPASSWORD.MATCHPASSWORD_WITH_OLD' | translate:lang}}</span>
                    </div>
                    <div *ngIf="showRequisities" class="psw-strength-section">
                        <div [class]="passwordStrength">
                            <div><strong>{{'STRENGTH' | translate: lang}}</strong> <span class="text" id="info_text">{{passwordStrengthText | translate:lang}}</span></div>
                            <div class="psw-strength"><span class="bar"></span></div>
                        </div>
                    </div>
                </form>
                <div *ngIf="showRequisities">
                    <ul>
                        <li *ngFor="let error of errorList">
                            {{error | translate:lang}}
                        </li>
                    </ul>
                </div>
        </div>
        <div class="so-panel__footer">
            <nav>
                <ul>
                    <li>
                        <label for="soPanel" class="button button--inline-block" [id]="getChildId('AeButton',16)" (click)="closeBulkPasswordResetForm($event)" [title]="'BUTTONS.SLIDE_CLOSE' | translate:lang">{{'BUTTONS.SLIDE_CLOSE' | translate:lang}}</label>
                    </li>
                    <li class="pull--right">
                        <ae-anchor [id]="getChildId('AeAnchor',17)" [name]="getChildName('AeAnchor',17)" [anchorType]="'button'" [class]="'button button--inline-block'" [anchorClass]="lightClass" (aeClick)="onChangePasswordFormSubmit()" [title]="'BUTTONS.RESET' | translate:lang" [text]="'BUTTONS.RESET' | translate:lang"></ae-anchor>
                    </li>
                </ul>
            </nav>
        </div>