
.safety-procedures {
    .title-block{
        margin-top:15px;
        display: inline-block;
        width: 100%;
        h3{float: left !important;}
        .button{float: right !important;}
    }
}