<div class="d-flex justify-content-center login-page">
    <div class="col-12 col-md-8 text-center p-0 mt-5">
        <mat-card class="material-control mat-elevation-z0 login-card">
            <div class="row col-12 p-0 justify-content-center m-0">
                <div class="col-12 pt-5">
                    <h2 class="p-4">{{header}}</h2>
                    <img class="p-4" src="Clientapp/dist/assets/HBInsiteLogo.png" class="logo" />
                </div>
                <div class="col-12 mt-5">
                    <button mat-raised-button class='submit-button' (click)="login()" style="width:150px;" id="btnSignIn">Sign In</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>