<div class="table spacer">
    <!--filter start-->
    <div class="table__filter-bar">
        <div class="filter-bar">
            <div class="filter-bar__label label">{{'FILTER_BY' | translate:lang}}</div>
            <div class="sg-grid grid--1-2">
                <div>
                    <ae-input id="'user-name-status-filter'" [name]="'user-name-status-filter'" [placeholder]="'PLACEHOLDER.SEARCH' | translate:lang" [value]="''" [type]="ctrlType" [readonly]="'false'" (aeChange)="onUserNameFilterChange($event)"></ae-input>
                </div>
                <div>
                    <ae-select [id]="'email-status-filter'" [name]="'email-status-filter'" [placeholder]="''" [options]="emailStatusOptions" (aeSelectChange)="onEmailStatusFilterChange($event)" [value]="emailStatusFilter"></ae-select>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <!--filter end -->
    <div class="bulk-password-table">
        <ae-datatable [id]="'userTable'" [defaultOptions]="dataTableOptions$ | async" [name]="'userTable'" [dataSource]="users" [autoGenerateColumns]="false" [totalRecords]="totalRecords" (pageChanged)="onPageChange($event)" (onSort)="onSort($event)" [loading]="usersLoading$ | async">
            <ae-column [headerText]="'Email'" [sortable]="true" [sortKey]="'Email'">
                <ae-template [type]="'header'">
                    <ng-template>
                        <span [title]="'USER_NAME_EMAIL' | translate:lang"> {{'EMAIL' | translate:lang}} / {{'USER_NAME' | translate:lang}}</span>

                    </ng-template>
                </ae-template>
                <ae-template [type]="'cell'" [keys]="keys">
                    <ng-template let-context="item">
                        <label *ngIf="isEmailUser == 1" for="soPanel" [title]="context.Email">{{context.Email}}</label>
                        <label *ngIf="isEmailUser == 0" for="soPanel" [title]="context.UserName">{{context.UserName}}</label>

                    </ng-template>
                </ae-template>
            </ae-column>
            <ae-column [headerText]="'FullName'" [sortable]="true" [sortKey]="'FirstName'">
                <ae-template [type]="'header'">
                    <ng-template>
                        <span [title]="'FULL_NAME' | translate:lang"> {{'FULL_NAME' | translate:lang}} </span>

                    </ng-template>
                </ae-template>
                <ae-template [type]="'cell'" [keys]="keys">
                    <ng-template let-context="item">
                        <span [title]="context.FirstName + ' ' + context.LastName">{{context.FirstName + ' ' + context.LastName}}</span>

                    </ng-template>
                </ae-template>
            </ae-column>
            <ae-column [headerText]="'Select All'" [sortable]="false" [sortKey]="''">
                <ae-template [type]="'header'">
                    <ng-template>
                        <ae-checkbox [id]="'chkAllSelect'" [title]="'SELECT_ALL' | translate:lang" [name]="'chkAllSelect'" [checkText]="'SELECT_ALL'

             | translate:lang" (onAeChange)="onSelectAllUserToBulkReset($event)" [value]="isAllSelected | async"></ae-checkbox>
                    </ng-template>
                </ae-template>
                <ae-template [type]="'cell'" [keys]="keys">
                    <ng-template let-context="item">
                        <ae-checkbox [id]="context.Id" [name]="context.Id" [checkText]="''" [checked]="checkStatus(context)" (onAeChange)="onSelectUserToBulkReset($event,context)"></ae-checkbox>
                    </ng-template>
                </ae-template>
            </ae-column>
        </ae-datatable>
    </div>
</div>
<!--table end-->