<div class="adverts" [id]="id" *ngIf="isDataLoaded">
  <div class="adverts__advert" *ngFor="let advert of adverts; let index = index ">
    <img [src]="_getPictureUrl(advert.PictureId)" [alt]="advert.Name" onclick="_onClick()" [id]="getChildId('Img')" [name]="getChildName('Img')">
    <h2>{{advert.Name}}</h2>
    <p>{{advert.Description}}</p>
    <div class="button-sec">
      <ae-anchor (aeClick)="_onClick(advert.AdvertType, advert.Url)" [anchorType]="'button'" [class]="'button button--cta'" [text]="advert.Text"
        [id]="getChildId('AeAnchor', index)" [name]="getChildName('AeAnchor', index)"></ae-anchor>
    </div>
  </div>
</div>

<ae-slideout [modelState]="getSlideoutState()" [class.slide--animate]="getSlideoutAnimateState()" [id]="getChildId('AeSlideout')"
  [name]="getChildName('AeSlideout')">
  <referral (onCancel)="onReferCancel($event)" (onSubmit)="onReferSubmit($event)" [id]="getChildId('Referral')" [name]="getChildName('Referral')"
    *ngIf="getSlideoutAnimateState()"></referral>
</ae-slideout>

<div class="adverts adverts-loader" *ngIf="!isDataLoaded">
  <div class="adverts__advert">
    <div class="img-loader"></div>
    <div class="info">
      <h2 class="h-loader h2-loader"></h2>
      <p class="info-loader"></p>
      <div class="button-loader">Button text</div>
    </div>
  </div>
  <div class="adverts__advert">
    <div class="img-loader"></div>
    <div class="info">
      <h2 class="h-loader h2-loader"></h2>
      <p class="info-loader"></p>
      <div class="button-loader">Button text</div>
    </div>
  </div>
  <div class="adverts__advert">
    <div class="img-loader"></div>
    <div class="info">
      <h2 class="h-loader h2-loader"></h2>
      <p class="info-loader"></p>
      <div class="button-loader">Button text</div>
    </div>
  </div>
</div>