<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- Mobile Specific Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Atlas - Risk assessment</title>
    <style>
        .headersec {
            font-size: 18px;
            font-weight: bold;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            margin: 0 35px 0px 35px;
        }
    </style>
</head>

<body style='height:50px;overflow:hidden;margin:0;padding:0;'>
    {{bodyContent}}
</body>

</html>