.rating-label {
    line-height: 22px;
    float: left;
    padding: 0 10px;
    width: 160px;
}

.review-footer {
    color: #1c5673;
    padding-bottom: 10px;
    cursor: pointer;
}

.read-more:hover {
    cursor: pointer;
    text-decoration: underline !important;
}