#absenceTypeAddUpdate{
    .add-subtype{position: relative; padding-right: 50px;
    .icon{position: absolute; right: 5px; top:5px;}
    }
    .absence-type{padding-left:15px;}
    .add-list{
        margin-top: 15px; margin-bottom: 0px;
        li{margin-bottom: 5px;}
    }
    .so-panel__content{padding-top: 0px;}
}