.loader-form {
  .loader--input,
  .loader--date-input,
  .loader--select,
  .loader--textarea {
    height: 36px;
    border: solid 1px $grey--4;
    padding: 5px;
    border-radius: 6px;
    display: block;
    width: 100%;
    float: left;
    margin: 40px 0 5px 0;
    position: relative;
    &:before {
      content: '';
      width: 70%;
      height: 18px;
      @include colorBlur(0px, $grey--pale);
      position: absolute;
      top: -25px;
      left: 0;
    }
  }
  .loader--select {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 12px;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $grey--4;
    }
  }
  .loader--textarea {
    height: 150px;
  }
  .loader--date-input {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 8px;
      height: 0;
      width: 18px;
      height: 18px;
      @include colorBlur(1px, $grey--4);
    }
  }
  .loader--checkbox,
  .loader--radio {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 30px;
    position: relative;
    margin-top: 20px;
    &:after {
      content: '';
      width: 70%;
      height: 18px;
      @include colorBlur(0px, $grey--4);
      position: absolute;
      left: 35px;
    }
    &:before {
      content: "";
      margin-right: 15px;
      width: 20px;
      @include colorBlur(1px, $white, $grey--4);
      height: 20px;
      border: solid 2px $grey--4;
      position: absolute;
      left: 0;
    }
  }
  .loader--radio {
    &:before {
      border-radius: 50%;
    }
  }
}

.button-loader,
.button-loader-big {
  @include colorBlur(1px, $white, $grey--4);
  height: 36px;
  border: solid 2px $grey--4;
  padding: 5px;
  border-radius: 6px;
  display: inline-block;
  min-width: 120px;
  text-align: center;
  position: relative;
  &:after {
    content: "Button text";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 32px;
  }
  &.dark {
    @include colorBlur(1px, $grey--2, $grey--3);
  }
  &.light {
    @include colorBlur(1px, $grey--pale, $grey--4);
  }
}

.button-loader-big {
  height: 45px;
  &:after {
    line-height: 45px;
  }
}

.info-loader {
  $height: 12px;
  position: relative;
  background: $grey--4;
  height: $height;
  margin: ($height*3) 0 !important;
  &:before,
  &:after {
    content: "";
    background-color: $grey--4;
    height: $height;
    position: absolute;
    left: 0;
  }
  &:before {
    width: 95%;
    top: -($height*2);
  }
  &:after {
    width: 80%;
    bottom: -($height*2);
  }
}

.list-loader {
  $height: 15px;
  float: left;
  width: 100%;
  color: $grey--3;
  >li {
    position: relative;
    background: $grey--4;
    height: $height;
    width: 62%;
    margin-bottom: $height;
    &:nth-child(even) {
      width: 52%
    }
  }
}

.h-loader {
  $height: 18px;
  background-color: $grey--3;
  height: $height !important;
  margin-bottom: $height !important;
  margin-top: 10px !important;
  &.h2-loader {
    height: ($height + 6) !important;
  }
  &.h3-loader {
    height: ($height + 4) !important;
  }
}

.link-loader {
  background-color: $grey--3;
  height: 12px !important;
  width: 80%;
}

.img-loader {
  background-color: $grey--3;
  height: 100px;
}

.online-loader {
  background-color: $grey--4;
  height: 12px !important;
  width: 80%;
}

.dots-loader {
  width: 10px;
  height: 10px;
  background-color: $grey--4;
  border-radius: 50%;
  position: relative;
  margin: 35px auto;
  &:before,
  &:after {
    content: "";
    background-color: $grey--4;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
  }
  &:before {
    left: -15px;
    background-color: $grey--3;
  }
  &:after {
    right: -15px;
  }
}
/* loader infomation bar */

.display-flex {
  display: flex;
  align-items: stretch;
  min-height: 85px;
}

.infomation-bar-loader {
  background-color: $grey--4;
  margin: 50px 20px 10px 60px;
  height: 15px;
  position: relative;
  width: 100%;
  &:before {
    content: '';
    background-color: $grey--3;
    width: 50%;
    height: 20px;
    position: absolute;
    top: -30px;
    left: 0;
  }
  &:after {
    background-color: $grey--4;
    height: 30px;
    width: 30px;
    margin: 20px auto;
    content: '';
    position: absolute;
    top: -40px;
    left: -45px;
  }
}