// Please add any new grids to grids.config.js so they can be viewed in the styleguide
// Convention is [0-479]-[480-767]-[767-979]-[980-1049]-[1050-1239]-[1240+]
// Feel free to omit higher values where they do not change for larger screen sizes
.grid--1-1-4 {
  @include row;
  >* {
    @include media-over-767 {
      @include span-columns(3);
      @include omega(4n);
    }
  }
}

.grid--1-1-3 {
  @include row;
  >* {
    @include media-over-767 {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}

.grid--1-2 {
  @include row;
  >* {
    @include media-over-480 {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

.content--col-3 {
  @include contentCols(1, 0);
  @include media-over-767 {
    @include contentCols(2, 40px);
  }
  @include media-over-979 {
    @include contentCols(3, 40px);
  }
}

.filter-grid--1-2 {
  @include row;
  >* {
    margin-bottom: 10px;
    @include media-over-767 {
      float: left;
      width: 50%;
      padding: 0 5px;
    }
  }
}
.filter-bar .sg-grid > div{margin-top:10px;}