<div id="employeeImportHistory">
  <ae-banner [id]="getChildId('AeBanner')" [name]="getChildName('AeBanner')" [titleText]="'IMPORT_HISTORY.BANNER_TITLE' | translate:lang"
    [backgroundImage]="'/assets/images/lp-employees.jpg'">
    <ae2-breadcrumb [id]="'breadCrumb'" [name]="'breadCrumb'" [group]="bcGroup" class="bredcrumb-section"></ae2-breadcrumb>
  </ae-banner>
</div>

<div [id]="'employee-import-history-container'">
  <div class="spacer">
    <employee-import-history [id]="getChildId('employeeImportHistory')" [name]="getChildName('employeeImportHistory')" [totalRecords]="totalRecords$"
      [itemsList]="importHistoryList$" [dataTableOptions]="dataTableOptions$ | async" [loadingStatus]="loadingStatus$ | async "
      (onPageSort)="onPageSort($event)" (pageChanged)="onPageChanged($event)" (onViewResults)="onViewResultsClick($event)">
    </employee-import-history>
  </div>
  <ae-slideout [id]="getChildId('AeSlideOut', 1)" [name]="getChildName('AeSlideOut', 1)" [modelState]="getSlideoutState()"
    [class.slide--animate]="getSlideoutAnimateState()">
    <div>
      <employee-import-result [id]="getChildId('employeeImportHistory')" [name]="getChildName('employeeImportHistory')" [itemsList]="importResults$"
        [loadingStatus]="loadingImportResultStatus$ | async " [dataTableOptions]="importResultDataTableOptions$ | async"
        [totalRecords]="totalImportResultRecords$" (onClose)="closeResultsSlider($event)"></employee-import-result>
    </div>
  </ae-slideout>

</div>
