<section [id]="id" class="accordion" role="tablist">
  <ul class="accordion__list margin-0">
    <li class="accordion__list--item">
      <input id="acc-03" type="checkbox" hidden (change)="toggleHistoryPanel($event.target.checked)" />
      <label for="acc-03" class="accordion__header">
          <div class="accordion__header--grid">
            <div class="accordion__title">History</div>
              <div class="accordion__indicator icon"><svg><use  [attr.xlink:href]="getAbsoluteUrl('icon-pointer-right')"></use></svg></div>
            </div>
        </label>
      <div class="accordion__contents open" *ngIf="isOpen">
        <div class="accordion__content history-block">
          <table class="table-history">
            <thead>
              <tr>
                <th [title]="'Start_date' | translate:lang">{{'Start_date' | translate:lang}}</th>
                <th [title]="'End_date' | translate:lang">{{'End_date' | translate:lang}}</th>
                <th [title]="'ABSENCES.Status' | translate:lang">{{'ABSENCES.Status' | translate:lang}}</th>
                <th [title]="'ABSENCES.Requested_days_hours' | translate:lang">{{'ABSENCES.Requested_days_hours' | translate:lang}}</th>
                <th [title]="'ABSENCES.Requested_by' | translate:lang">{{'ABSENCES.Requested_by' | translate:lang}}</th>
                <th [title]="'ABSENCES.Requested_date' | translate:lang">{{'ABSENCES.Requested_date' | translate:lang}}</th>
                <th [title]="'ABSENCES.Comment_Reason' | translate:lang">{{'ABSENCES.Comment_Reason' | translate:lang}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of absenceHistoryList">
                <td [title]="item.StartDate | date:'dd/MM/yyyy'">{{item.StartDate | date:'dd/MM/yyyy'}}</td>
                <td [title]="item.EndDate | date:'dd/MM/yyyy'">{{item.EndDate | date:'dd/MM/yyyy'}}</td>
                <td [title]="item.Status">{{item.Status}}</td>
                <td [title]="item.RequestedUnits">{{item.RequestedUnits}}</td>
                <td [title]="item.RequestedBy">{{item.RequestedBy}}</td>
                <td [title]="item.RequestedDate">{{item.RequestedDate}}</td>
                <td class="td-comments" [title]="item.Comments">{{item.Comments}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
  </ul>
</section>