.comment-icon {
    display: block;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.comment-box {
    min-width: 100%;
    margin-bottom: 0px;
    padding-right: 60px;
}

@media (max-width: 767px) {
    .comment-box {
        margin-bottom: 0px;
    }
}