.holiday-slideout{ position: relative;
        .loader {
            position: absolute;
            top: 50px;
            width: 100%;
            bottom: 0px;
            .loader-inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 44px;
            margin: auto;
            }
        }
    }
    