{
  "connectionString": "DefaultEndpointsProtocol=http;AccountName=citationuat2;AccountKey=jOzq7hyvy/EXJ0GL2BLaEhYHQ01++UBP3x2y4BaLekckKJhzryJfu+gTT7whmcRdPsDC721oZVXLq81H/EJvSA==",
  "devMode":true,  
  "apiUrlHost":"localhost",
  "apiUrlPort":"44301",
  "userSnapCode":"194fcc6b-8f5d-4e85-b0cd-d44e89e8861c",
  "nrAppCode":"42501896",
  "nrLicenceKey":"958679b069",
  "enableNewRelic":false,
  "GATrackingCode":"UA-59406007-5",
  "enableHotJar":false
}