@import '../../../../../assets/scss/variablesMap';
.yep-wizard{
    .tabs{position: static;}
}
.calendar-slideout {
  @media only screen and (min-width: 980px) {
    .so-panel {
      width:1000px !important; text-align: left;
    }
  }
}
.roster-slideout{
    .so-panel {       
        width: 100%;
        @include media-over-767{
          width: 700px;
        }
        .filter-bar__filters{
            position: relative;
            margin-bottom: 30px;
            #previous, #next{
                    padding: 0PX;
                    margin-top: 18px;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    line-height: 30px;
            }
            .slick-next{top:28px}
            .date-value{line-height: 35px;}
        }
        .table__item-inner{padding: 8px;}
    }

}
.yearendprocedure-content{
  background: $white;
  padding: 5px 35px; 
  margin-top:1px;
}