<div class="so-panel__title">
  <h3>{{'CHANGEPASSWORD.CHANGE_PASSWORD' | translate:lang}}</h3>
</div>
<div class="so-panel__content change-password">
  <p>{{'CHANGEPASSWORD.HELP' | translate:lang}}</p>
  <p>{{'CHANGEPASSWORD.CHAR_LENTH' | translate:lang}}</p>
  <ul class="list">
    <li>{{'CHANGEPASSWORD.LOWER_CASE' | translate:lang}}</li>
    <li>{{'CHANGEPASSWORD.CAPITAL_LETTER' | translate:lang}}</li>
    <li>{{'CHANGEPASSWORD.ONE_DIGIT' | translate:lang}}</li>
    <li>{{'CHANGEPASSWORD.SPECIAL_CHARACTER' | translate:lang}})</li>
  </ul>
  <div class="slide-info-space">
    <form method="post" [formGroup]="updateUserPasswordForm">
      <div class="form__input">
        <ae-input [id]="'oldPassword'" [name]="'oldPassword'" [placeholder]="'CHANGEPASSWORD.ENTER_OLDPASSWORD'| translate:lang"
          formControlName="oldPassword" [type]="inputType"></ae-input>
        <span *ngIf="fieldHasError('oldPassword')" class="form__input__error">{{'CHANGEPASSWORD.FIELD_REQUIRED' | translate:lang}}</span>
        <span *ngIf="fieldHasIncorrectPassword()" class="form__input__error">{{'CHANGEPASSWORD.OLD_MISMATCH' | translate:lang}}</span>
      </div>
      <div class="form__input">
        <ae-input [id]="'newPassword'" [name]="'newPassword'" class="form-control" [placeholder]="'CHANGEPASSWORD.ENTER_NEWPASSWORD'| translate:lang"
          [maxlength]="maxlength" formControlName="newPassword" [type]="inputType"></ae-input>
        <span *ngIf="fieldHasError('newPassword')" class="form__input__error">{{'CHANGEPASSWORD.FIELD_REQUIRED' | translate:lang}}</span>
        <span *ngIf="fieldHasInvalidPassword('newPassword')&&!samePassword" class="form__input__error">{{'CHANGEPASSWORD.PASSWORD_CRITERIA' | translate:lang}}</span>
        <span *ngIf="fieldHasSamePassword()" class="form__input__error">{{'CHANGEPASSWORD.SAME_PASSWORD' | translate:lang}}</span>
      </div>
      <div class="form__input">
        <ae-input [id]="'confirmPassword'" [name]="'confirmPassword'" [placeholder]="'CHANGEPASSWORD.REENTER_PASSWORD'| translate:lang"
          formControlName="confirmPassword" [type]="inputType" [maxlength]="maxlength"></ae-input>
        <span *ngIf="fieldHasError('confirmPassword')" class="form__input__error">{{'CHANGEPASSWORD.FIELD_REQUIRED' | translate:lang}}</span>
        <span *ngIf="updateUserPasswordForm.hasError('mismatchedPasswords')&&updateUserPasswordForm.get('confirmPassword').valid"
          class="form__input__error">{{'CHANGEPASSWORD.MATCHPASSWORD_WITH_OLD' | translate:lang}}</span>
      </div>

      <div *ngIf="showRequisities" class="psw-strength-section">
        <div [class]="passwordStrength.class">
          <div><strong>{{'CHANGEPASSWORD.STRENGTH' | translate:lang}}</strong> <span class="text" id="info_text">{{passwordStrength.Text | translate:lang}}</span></div>
          <div class="psw-strength"><span class="bar"></span></div>
        </div>
      </div>

    </form>
    <div *ngIf="showRequisities">
      <ul>
        <li *ngFor="let error of errorList">
          {{error | translate:lang}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="so-panel__footer">
  <nav>
    <ul>
      <li><label for="soPanel" class="button button--inline-block" (click)="onChangePasswordCancel()" [title]="'BUTTONS.SLIDE_CLOSE' | translate:lang">{{'BUTTONS.SLIDE_CLOSE' | translate:lang}}</label></li>
      <li class="pull--right">
        <ae-anchor [id]="getChildId('AeAnchor',1)" [name]="getChildName('AeAnchor',1)" [anchorType]="'button'" [class]="'button button--inline-block'"
          [anchorClass]="lightClass" (aeClick)="onChangePasswordFormSubmit()" [text]="'CHANGEPASSWORD.CHANGE_PASSWORD' | translate:lang"></ae-anchor>
      </li>
    </ul>
  </nav>
</div>