<div [id]="id">
  <yearendprocedure-status [id]="getChildId('YearendprocedureStatus', 6)" [name]="getChildName('YearendprocedureStatus', 6)"></yearendprocedure-status>

  <div class="button-bar spacer--y">
    <div class="button-bar__item"></div>
    <div class="button-bar__item">
      <ae-button [id]="getChildId('AeButton', 20)" [name]="getChildName('AeButton', 20)" [text]="'BUTTONS.DONE' | translate:lang"
        [title]="'BUTTONS.DONE' | translate:lang" [class]="lightClass" (aeClick)="completeYearEndProcedure()" ></ae-button>
    </div>
  </div>
</div>
