<div class="section-title">
  <h3>{{'EMPLOYEE_JOB_HISTORY.listing_page_heading' | translate:lang}}</h3>
  <a class="button button--light button--inline-block" *ngIf="canUpdate$ | async" (click)="jobAddClick($event)" [title]="'BUTTONS.ADD' | translate:lang">{{'BUTTONS.ADD' | translate:lang}}</a>
</div>
<div class="table">
  <ae-datatable [id]="'demo'" [name]="'demo'" [dataSource]="jobHistory" [actions]="actions" [autoGenerateColumns]="false" [totalRecords]="totalRecords"
    [defaultOptions]="dataTableOptions | async" (pageChanged)="onPageChange($event)" (onSort)="onSort($event)" [loading]="!(jobHistoryLoaded$ | async)" [rowSelector]="highLightRow">
    <ae-column [headerText]="'EMPLOYEE_JOB_HISTORY.job_title' | translate:lang" [sortable]="true" [sortKey]="'JobTitleName'">
      <ae-template [type]="'header'">
        <ng-template>
          <span>{{'EMPLOYEE_JOB_HISTORY.job_title' | translate:lang}}</span>
        </ng-template>
      </ae-template>
      <ae-template [type]="'cell'" [keys]="keys">
        <ng-template let-context="item">
          {{context.JobTitleName}} <!-- <span *ngIf="context.IsCurrentJob == true"><ae-icon [id]="getChildId('AeIcon',1)" [name]="getChildName('AeIcon',1)" [size]="iconTiny" [icon]="'icon-alert-circle-tick'" [color]="'#009494'"></ae-icon></span> -->
        </ng-template>
      </ae-template>
    </ae-column>

    <ae-column [headerText]="'EMPLOYEE_JOB_HISTORY.department' | translate:lang" [sortable]="true" [sortKey]="'DepartmentName'">
      <ae-template [type]="'header'">
        <ng-template>
          <span> {{'EMPLOYEE_JOB_HISTORY.department' | translate:lang}} </span>
        </ng-template>
      </ae-template>
      <ae-template [type]="'cell'" [keys]="keys">
        <ng-template let-context="item">
          {{context.DepartmentName}}
        </ng-template>
      </ae-template>
    </ae-column>
    <ae-column [headerText]="'SITES.SITE' | translate:lang" [sortable]="true" [sortKey]="'SiteName'">
      <ae-template [type]="'header'">
        <ng-template>
          <span>{{'SITES.SITE' | translate:lang}}</span>
        </ng-template>
      </ae-template>
      <ae-template [type]="'cell'" [keys]="keys">
        <ng-template let-context="item">
          {{context.SiteName}}
        </ng-template>
      </ae-template>
    </ae-column>
    <ae-column [headerText]="'EMPLOYEE_JOB_HISTORY.start_date' | translate:lang" [sortable]="true" [sortKey]="'JobStartDate'">
      <ae-template [type]="'header'">
        <ng-template>
          <span> {{'EMPLOYEE_JOB_HISTORY.start_date' | translate:lang}}</span>
        </ng-template>
      </ae-template>
      <ae-template [type]="'cell'" [keys]="keys">
        <ng-template let-context="item">
          {{context.JobStartDate | localeDate:defaultLocale:'shortDate'}}
        </ng-template>
      </ae-template>
    </ae-column>

    <ae-column [headerText]="'LEAVING_DATE' | translate: lang" [sortable]="true" [sortKey]="'JobFinishDate'">
      <ae-template [type]="'header'">
        <ng-template>
          <span>{{'LEAVING_DATE' | translate: lang}}</span>
        </ng-template>
      </ae-template>
      <ae-template [type]="'cell'" [keys]="keys">
        <ng-template let-context="item">
          {{context.JobFinishDate |  localeDate:defaultLocale:'shortDate'}}
        </ng-template>
      </ae-template>
    </ae-column>

  </ae-datatable>
</div>
<!--slideout pop code here-->
<ae-slideout [id]="getChildId('AeSlideOut', 1)" [name]="getChildName('AeSlideOut', 1)" [modelState]="getSlideoutState()"
  [class.slide--animate]="getSlideoutAnimateState()">
  <div *ngIf="showSlideOut()">
    <job-history-form [addOrUpdateActionType]="addOrUpdateActionType" [toggleForm]="addOrUpdateActionType" (onCancel)="onJobFormCancel($event)"
      (OnSaveComplete)="onJobFormSaveComplete($event)"></job-history-form>
  </div>
</ae-slideout>

<!--delete confirmation pop-up-->
<div *ngIf="showDeleteConfirmDialog">
  <ae-modal-dialog [visible]="showDeleteConfirmDialog" (cancel)="deleteConfirmModalClosed($event)" [closable]="true" [id]="getChildId('AeModel', 1)"
    [name]="getChildName('AeModel', 1)">
    <div class="modal-dialog-header">
      <h3>{{ 'EMPLOYEE_JOB_HISTORY.Dialog.Heading_text' | translate:lang }}</h3>
    </div>
    <div class="modal-dialog-body">
      <p>{{'EMPLOYEE_JOB_HISTORY.Dialog.Info' | translate: lang:{historyName: _selectedJobHistory.JobTitleName} }}</p>
    </div>
    <div class="modal-dialog-footer">
      <ae-button [text]="'EMPLOYEE_JOB_HISTORY.Dialog.Btn_No' | translate:lang" [type]="'button'" [id]="'deleteConfirmNo'" [name]="'deleteConfirmNo'"
        (aeClick)="deleteConfirmModalClosed($event)"></ae-button>
      <ae-button [class]="lightClass" [text]="'EMPLOYEE_JOB_HISTORY.Dialog.Btn_Yes' | translate:lang" [type]="'button'" [id]="'deleteConfirmYes'"
        [name]="'deleteConfirmYes'" (aeClick)="deleteSalaryHistory($event)"></ae-button>
    </div>
  </ae-modal-dialog>
</div>
