.form__input {
  margin: 10px 0 20px 0;
}

.form__button {
  float: right;
  margin-top: 39px;
  text-align: right;
}

.form__error {
  margin-top: 15px;
}
.form__input__error{
    color:#df0000;
    padding: 5px 15px;
    display:block;
}