<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629015942402-1ipkjptb6d66v9pr1ueoeuht6m8pndfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629015942402-1ipkjptb6d66v9pr1ueoeuht6m8pndfh</string>
	<key>API_KEY</key>
	<string>AIzaSyA6lrynK1E4Z0bjn90MyO0Udj5JyEC9G9o</string>
	<key>GCM_SENDER_ID</key>
	<string>629015942402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toplinestrategies.insite</string>
	<key>PROJECT_ID</key>
	<string>hb-test-da065</string>
	<key>STORAGE_BUCKET</key>
	<string>hb-test-da065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629015942402:ios:cf8d682d40e214c1</string>
	<key>DATABASE_URL</key>
	<string>https://hb-test-da065.firebaseio.com</string>
</dict>
</plist>