.card-head {
    background: #42738d;
    height: 50px;
    overflow: hidden;
    width: 100%;
}

.card-head-icon {
    font-size: 70px;
    position: relative;
    top: -10px;
    margin-left: -5px;
    opacity: 0.5;
}

.card-head-title {
    letter-spacing: 5px;
    font-variant: small-caps;
    position: relative;
    top: -70px;
    opacity: 1;
}

@media (max-width: 1024px) {
    .card-head {
        background: #42738d;
        height: 50px;
        overflow: hidden;
        width: 100%;
    }
    .card-head-icon {
        font-size: 80px;
        position: relative;
        top: -15px;
        margin-left: -5px;
        opacity: 0.2;
    }
    .card-head-title {
        letter-spacing: 5px;
        font-variant: small-caps;
        position: relative;
        top: -78px;
        opacity: 1;
    }
    .card-head-small-icon {
        font-size: 65px;
        position: relative;
        top: -15px;
        margin-left: -5px;
        opacity: 0.2;
    }
    .card-head-small-title {
        letter-spacing: 5px;
        font-variant: small-caps;
        position: relative;
        top: -65px;
        opacity: 1;
    }
}