<div class="so-panel__title">

  <h3 class="grey-strip">{{'STANDARD_WORKING_DAYS_NOTES' | translate:lang}}</h3>
</div>
 <div class="so-panel__content">
<div *ngIf="!notesExists()">
  <span>{{'STANDARD_WORKING_DAYS_NOTES_NOT_EXISTS' | translate:lang}} </span>
</div>
<div *ngIf="notesExists()">
  <ae-list [id]="'notes'" [name]="'notes'" [items]="notesList" (aeAction)="listAction($event)" [isClickable]="false" [requireCircle]="false">
  </ae-list>
</div>
 </div>
<div class="so-panel__footer">
  <nav>
    <ul>
      <li><label for="soPanel" class="button button--inline-block" [id]="getChildId('AeButton',1)" (click)="slideClose($event)"
          [title]="'BUTTONS.SLIDE_CLOSE' | translate:lang">{{'BUTTONS.SLIDE_CLOSE' | translate:lang}}</label></li>
    </ul>
  </nav>
</div>
