<ae-slideout [id]="getChildId('AeSlideOut', 1)" [name]="getChildName('AeSlideOut', 1)" [modelState]="getTrainingCourseSlideoutState()"
  (cancel)="closeTrainingCourseAddForm($event)" [class.slide--animate]="showTrainingCourseAddForm">
  <ng-container *ngIf="showTrainingCourseAddForm">
    <training-course-add (aeCloseTC)="closeTrainingCourseAddForm($event)" [toggleTC]="operationModeTC" (getNewTC)="getNewTrainingCourse($event)"></training-course-add>
  </ng-container>
</ae-slideout>

<div class="so-panel__title">
  <h3 class="grey-strip" *ngIf="!isUpdateMode()">{{'EMPLOYEE_TRAINING_HISTORY.add_training_history_details' | translate:lang}}</h3>
  <h3 class="grey-strip" *ngIf="isUpdateMode()">{{'EMPLOYEE_TRAINING_HISTORY.update_training_history_details' | translate:lang}}</h3>
</div>
<div class="so-panel__content">
  <div class="information-grid">    
    <form class="form" [formGroup]="empTrainingHistoryAddUpdateForm">
      <section class="information-grid__section">
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.course' | translate:lang}} <span class="error-text">*</span></div>
          <div class="information-grid__item-value column-2of3 text-muted course-add-block">
            <ae-autocomplete [id]="'SelectedCourse'" formControlName="SelectedCourse" [name]="'SelectedCourse'" [placeholder]="'Select course'"
              [multiselect]="false" [items]="trainingCourseList$ | async" [dstype]="dataSouceType" [field]="'Title'" [valuefield]="'Id'"
              [value]="datasourceSelectedCourses" (aeOnSelect)="onTrainingCourseChanged($event)" (aeOnUnselect)="onTrainingCourseChanged($event)"
              (aeOnClearSelected)="onClearSelectedTrainingCourse($event)"></ae-autocomplete>
            <ae-button [type]="'button'" [id]="getChildId('AeButton', 1)" [class]="'ui-datepicker-trigger'" [name]="getChildName('AeButton', 1)"
              (aeClick)="openTrainingCourseAddForm($event)" class="btn" [class]="btnStyle" [title]="'BUTTONS.ADD' | translate:lang"
              [btnIcon]="'icon-plus'"></ae-button>
            <span *ngIf="fieldHasRequiredError('SelectedCourse')" class="error-text">{{'EMPLOYEE_TRAINING_HISTORY.course_required' | translate:lang}}.</span>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.course_code' | translate:lang}}</div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-input [id]="'CourseCode'" [name]="'CourseCode'" [title]="'EMPLOYEE_TRAINING_HISTORY.course_code_tooltip' | translate:lang"
              formControlName="CourseCode" [placeholder]="'EMPLOYEE_TRAINING_HISTORY.course_code' | translate:lang" [cssClass]="'input'"></ae-input>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.start_date' | translate:lang}} <span class="error-text">*</span></div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-datetime-picker [id]="getChildId('AeDatetimePicker',1)" [name]="getChildName('AeDatetimePicker',1)" [monthNavigator]="true"
              [title]="'EMPLOYEE_TRAINING_HISTORY.start_date_tooltip' | translate:lang" [yearNavigator]="true" yearRange="1910:2030"
              [showIcon]="true" formControlName="StartDate">
            </ae-datetime-picker>
            <span *ngIf="fieldHasRequiredError('StartDate')" class="error-text">{{'EMPLOYEE_TRAINING_HISTORY.start_date_required' | translate:lang}}.</span>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.completed_date' | translate:lang}}</div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-datetime-picker [id]="getChildId('AeDatetimePicker',1)" [name]="getChildName('AeDatetimePicker',1)" [monthNavigator]="true"
              [title]="'EMPLOYEE_TRAINING_HISTORY.completed_date_tooltip' | translate:lang" [yearNavigator]="true" yearRange="1910:2030"
              [showIcon]="true" formControlName="PassDate">
            </ae-datetime-picker>
            <span *ngIf="formHasStartDateError('startDateValidator')" class="error-text">{{'EMPLOYEE_TRAINING_HISTORY.completion_date_greater_than_start_date_Validation' | translate:lang}}</span>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.expiry_date' | translate:lang}}</div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-datetime-picker [id]="getChildId('AeDatetimePicker',2)" [name]="getChildName('AeDatetimePicker',2)" [monthNavigator]="true"
              [title]="'EMPLOYEE_TRAINING_HISTORY.expiry_date_tooltip' | translate:lang" [yearNavigator]="true" yearRange="1910:2030"
              [showIcon]="true" formControlName="ExpiryDate">
            </ae-datetime-picker>
            <span *ngIf="formHasCompletionDateError('completionDateValidator')" class="error-text">{{'EMPLOYEE_TRAINING_HISTORY.expiry_date_greater_than_completed_Validation' | translate:lang}}</span>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.course_grade' | translate:lang}}</div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-input [id]="'CourseGrade'" [name]="'CourseGrade'" [title]="'EMPLOYEE_TRAINING_HISTORY.course_grade_tooltip' | translate:lang"
              formControlName="CourseGrade" [placeholder]="'EMPLOYEE_TRAINING_HISTORY.course_grade' | translate:lang"></ae-input>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.provider' | translate:lang}}</div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-input [id]="'Provider'" [name]="'Provider'" [title]="'EMPLOYEE_TRAINING_HISTORY.provider_tooltip' | translate:lang" formControlName="Provider"
              [placeholder]="'EMPLOYEE_TRAINING_HISTORY.provider' | translate:lang"></ae-input>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.description' | translate:lang}}</div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-textarea [id]="'Description'" [name]="'Description'" [title]="'EMPLOYEE_TRAINING_HISTORY.description_tooltip' | translate:lang"
              formControlName="Description" [placeholder]="'EMPLOYEE_TRAINING_HISTORY.description' | translate:lang" [maxlength]="'5000'"
              [showcharleft]="showRemainingCount"></ae-textarea>
          </div>
        </div>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'EMPLOYEE_TRAINING_HISTORY.certificates_or_documents'| translate:lang }}</div>
          <div class="information-grid__item-label column-2of3">
            <ul>
              <li *ngFor="let item of employeeTrainingDetails.Certificates;">
                <ae-anchor [id]="'certificateDownLoad'" [name]="'certificateDownLoad'" [text]="item.FileName" (aeClick)="onCertificateDownLoad(item.Id)">
                </ae-anchor>
              </li>
            </ul>
          </div>
          <div class="information-grid__item-value column-3of3 text-muted">
            <ae-file [id]="'fileUpload'" [name]="'fileUpload'" [multiple]="true" (onFilesSelected)="onFilesSelected($event)" [accept]="'*'"></ae-file>
          </div>
        </div>
      </section>
      <div class="form__error">
      </div>

    </form>
  </div>
</div>
<div class="so-panel__footer">
  <nav>
    <ul>
      <li><label for="soPanel" class="button button--inline-block" [id]="getChildId('AeButton',1)" (click)="onAddUpdateFormClosed($event)"
          [title]="'BUTTONS.SLIDE_CLOSE' | translate:lang">{{'BUTTONS.SLIDE_CLOSE' | translate:lang}}</label></li>
      <li class="pull--right" *ngIf="!isUpdateMode()">
        <ae-anchor [id]="getChildId('AeAnchor',1)" [name]="getChildName('AeAnchor',1)" [anchorType]="'button'" [class]="'button button--inline-block'"
          [anchorClass]="lightClass" (aeClick)="onAddUpdateFormSubmit($event)" [title]="'BUTTONS.ADD' | translate:lang" [text]="'BUTTONS.ADD' | translate:lang"></ae-anchor>
      </li>
      <li class="pull--right" *ngIf="isUpdateMode()">
        <ae-anchor [id]="getChildId('AeAnchor',1)" [name]="getChildName('AeAnchor',1)" [anchorType]="'button'" [class]="'button button--inline-block'"
          [anchorClass]="lightClass" (aeClick)="onAddUpdateFormSubmit($event)" [title]="'BUTTONS.UPDATE' | translate:lang"
          [text]="'BUTTONS.UPDATE' | translate:lang"></ae-anchor>
      </li>
    </ul>
  </nav>
</div>
