.review-label {
    margin-top: 0.25rem !important;
    font-weight: bold;
    white-space: nowrap;
}

.more-info-panel {
    span {
        cursor: pointer;
        color: #1c5673;
        font-size: 16px;
        line-height: 24px;
    }
}

.property-rating {
    padding: 0;
    margin: 0;
    list-style: none;
}

.property-rating>li {
    float: left;
    width: 100%;
}

.property-rating>li>label {
    line-height: 22px;
    float: left;
    padding: 0 10px;
    width: 165px;
}

.matCard {
    padding: 5px 0 5px 20px;
    margin: 3px;
    font-size: 16px;
}