.mat-select-content .mat-option,
.mat-autocomplete-panel .mat-option {
  height: 2em !important;
}

.post-chip {
  padding: 3px 10px !important;
}

.summary-options {
  display: inline-flex;
  flex-direction: column;
}
