<div>
  <ae-banner [id]="'bulk-password-reset-list-banner'" [name]="'bulk-password-reset-list-banner'" [titleText]="'BULK_PASSWORD_RESET' | translate:lang"
    [backgroundImage]="'/assets/images/lp-employees.jpg'" [bannerTheme]="aeBannerTheme">

    <ae2-breadcrumb [id]="'breadCrumb'" [name]="'breadCrumb'" [group]="bcGroup" class="bredcrumb-section"></ae2-breadcrumb>

    <div class="image-text banner-image-text">
    </div>
    <div class="icon-list banner-icon-list">
      <ae-button [type]="'button'" [id]="'bulk-reset-password'" [name]="'bulk-reset-password'" (aeClick)="onResetClick($event)"
        class="btn" [text]="'BUTTON.RESET' | translate:lang" [title]="'BUTTON.RESET' | translate:lang"></ae-button>

    </div>
  </ae-banner>
</div>

<ae-notification [id]="'incidentNotification'" [name]="'incidentNotification'" [iconName]="'icon-info'" [textInfo]="'RESETTING_PASSW_MEG' | translate:lang">
</ae-notification>
<div>

  <bulk-password-reset-list [id]="'resetPasswordlist'" [name]="'resetPasswordlist'" [selectAll]="selectAll" (onUserWithEmailSelect)="usersWithEmailSelected($event)"
    (onUserWithoutEmailSelect)="usersWithoutEmailSelected($event)" (onUserFilterChange)="userFilterChanged($event)">
  </bulk-password-reset-list>

</div>



<div class="bulk-password-reset-slideout">
  <ae-slideout [id]="'bulk-password-reset'" [name]="'bulk-password-reset'" [modelState]="getBulkPasswordResetSlideoutState()"
    (cancel)="closeBulkPasswordResetForm($event)" [class.slide--animate]="showBulkPasswordResetForm">
    <ng-container *ngIf="showBulkPasswordResetForm">
      <bulk-password-reset-set-pwd [id]="'setPwd'" [name]="'setpwd'" (onSetManualPassword)="onManualResetPwd($event)" (onAeClose)="closeBulkPasswordResetForm($event)">
      </bulk-password-reset-set-pwd>
    </ng-container>
  </ae-slideout>
</div>



<!--warning pop-up when no user selected -->

<div *ngIf="showAtLeastOneUserDialog">
  <ae-modal-dialog [visible]="showAtLeastOneUserDialog" (cancel)="atLeastOneUserModalClosed($event)" [closable]="true" [id]="getChildId('AeModel', 1)"
    [name]="getChildName('AeModel', 1)">
    <div class="modal-dialog-header">
      <h3 class="modal-title">{{'Bulk_Reset_Dailog.Heading_text_select_at_least_one_user' | translate:lang}}</h3>
    </div>
    <div class="modal-dialog-body">
      <span>{{'Bulk_Reset_Dailog.Body_text_select_at_least_one_user' | translate:lang}}</span>
    </div>
    <div class="modal-dialog-footer">

      <ae-button [text]="'BUTTONS.OK' | translate:lang" [class]="lightClass" [title]="'BUTTONS.OK' | translate:lang" [type]="'button'"
        [id]="'atLeastOneUserOk'" [name]="'atLeastOneUserOk'" (aeClick)="atLeastOneUserModalClosed($event)"></ae-button>
    </div>
  </ae-modal-dialog>
</div>
<!-- Submit confirmation pop-up-->

<div *ngIf="showSubmitConfirmDialog">
  <ae-modal-dialog [visible]="showSubmitConfirmDialog" (cancel)="submitConfirmModalClosed($event)" [closable]="true" [id]="getChildId('AeModel', 1)"
    [name]="getChildName('AeModel', 1)">
    <div class="modal-dialog-header">
      <h3 class="modal-title">{{'Bulk_Reset_Dailog.Heading_text_submit_confirm_for_email_users' | translate:lang}}</h3>
    </div>
    <div class="modal-dialog-body">
      <span>{{'Bulk_Reset_Dailog.Body_text_submit_confirm_for_email_users' | translate:lang}}</span>
    </div>
    <div class="modal-dialog-footer">

      <ae-button [text]="'BUTTONS.CANCEL' | translate:lang" [title]="'BUTTONS.CANCEL' | translate:lang" [type]="'button'" [id]="'submitConfirmCancel'"
        [name]="'submitConfirmCancel'" (aeClick)="submitConfirmModalClosed($event)"></ae-button>
      <ae-button [class]="lightClass" [text]="'BUTTONS.RESET' | translate:lang" [title]="'BUTTONS.RESET' | translate:lang" [type]="'button'"
        [id]="'submitConfirmReset'" [name]="'submitConfirmReset'" (aeClick)="submitPasswordResetRequest($event)"></ae-button>
    </div>
  </ae-modal-dialog>
</div>