<div class="bottom-30">
    <ae-notification [id]="'incidentNotification'" [name]="'incidentNotification'" [iconName]="'icon-info'" [textInfo]="tabName | translate:lang">
    </ae-notification>
</div>
<div>
    <ae-datatable [id]="'methodStatementList'" [name]="'methodStatementList'" [dataSource]="methodStatementsList$" [actions]="actions" [totalRecords]="methodStatementsListTotalCount$" [autoGenerateColumns]="false" [defaultOptions]="methodStatementsListDataTableOptions$ | async"
        (pageChanged)="onGridPaging($event)" (onSort)="onGridSorting($event)" [loading]="!(methodStatementsList$ | async)">

        <ae-column [headerText]="'METHOD_STATEMENTS_MANAGE.NAME' | translate:lang" [sortable]="true " [sortKey]=" 'Name' ">
            <ae-template [type]=" 'header' ">
                <ng-template>
                    <span title="{{ 'METHOD_STATEMENTS_MANAGE.NAME' | translate:lang  }}">{{'METHOD_STATEMENTS_MANAGE.NAME' | translate:lang}}</span>
                </ng-template>
            </ae-template>
            <ae-template [type]=" 'cell' " [keys]="keys ">
                <ng-template let-context="item ">
                    <span title="{{ context.Name  }}">{{ context.Name }}</span>
                </ng-template>
            </ae-template>
        </ae-column>

        <ae-column [headerText]="'METHOD_STATEMENTS_MANAGE.DESCRIPTION' | translate:lang" [sortable]="true " [sortKey]=" 'Description' "
            *ngIf="byStatusId == -1">
            <ae-template [type]=" 'header' ">
                <ng-template>
                    <span title="{{ 'METHOD_STATEMENTS_MANAGE.DESCRIPTION' | translate:lang  }}">{{'METHOD_STATEMENTS_MANAGE.DESCRIPTION' | translate:lang}}</span>
                </ng-template>
            </ae-template>
            <ae-template [type]=" 'cell' " [keys]="keys ">
                <ng-template let-context="item ">
                    <span title="{{ context.Description  }}">{{context.Description}}</span>
                </ng-template>
            </ae-template>
        </ae-column>

        <ae-column [headerText]="'METHOD_STATEMENTS_MANAGE.CLIENTNAME' | translate:lang" [sortable]="true " [sortKey]=" 'ClientName' "
            *ngIf="byStatusId != -1">
            <ae-template [type]=" 'header' ">
                <ng-template>
                    <span title="{{ 'METHOD_STATEMENTS_MANAGE.CLIENTNAME' | translate:lang  }}">{{'METHOD_STATEMENTS_MANAGE.CLIENTNAME' | translate:lang}}</span>
                </ng-template>
            </ae-template>
            <ae-template [type]=" 'cell' " [keys]="keys ">
                <ng-template let-context="item ">
                    <span title="{{ context.ClientName }}"> {{ context.ClientName }}</span>
                </ng-template>
            </ae-template>
        </ae-column>

        <ae-column [headerText]=" 'METHOD_STATEMENTS_MANAGE.START_DATE' | translate:lang " [sortable]="true" [sortKey]=" 'StartDate' "
            *ngIf="byStatusId != -1">
            <ae-template [type]=" 'header' ">
                <ng-template>
                    <span title="{{ 'METHOD_STATEMENTS_MANAGE.START_DATE' | translate:lang  }}">{{'METHOD_STATEMENTS_MANAGE.START_DATE' | translate:lang}}</span>
                </ng-template>
            </ae-template>
            <ae-template [type]=" 'cell' " [keys]="keys ">
                <ng-template let-context="item ">
                    <span title="{{context.StartDate}}">{{context.StartDate | localeDate:defaultLocale:'shortDate'}}</span>
                </ng-template>
            </ae-template>
        </ae-column>

        <ae-column [headerText]="'METHOD_STATEMENTS_MANAGE.END_DATE' | translate:lang" [sortable]="true " [sortKey]=" 'EndDate' "
            *ngIf="byStatusId != -1">
            <ae-template [type]=" 'header' ">
                <ng-template>
                    <span title="{{ 'METHOD_STATEMENTS_MANAGE.END_DATE' | translate:lang  }}">{{'METHOD_STATEMENTS_MANAGE.END_DATE' | translate:lang}}</span>
                </ng-template>
            </ae-template>
            <ae-template [type]=" 'cell' " [keys]="keys ">
                <ng-template let-context="item ">
                    <span title="{{ context.EndDate  }}">{{ context.EndDate | localeDate:defaultLocale:'shortDate'}}</span>
                </ng-template>
            </ae-template>
        </ae-column>

        <ae-column [headerText]="'METHOD_STATEMENTS_MANAGE.SITENAME' | translate:lang" [sortable]="true " [sortKey]=" 'SiteName' "
            *ngIf="byStatusId != -1">
            <ae-template [type]=" 'header' ">
                <ng-template>
                    <span title="{{ 'METHOD_STATEMENTS_MANAGE.SITENAME' | translate:lang  }}">{{'METHOD_STATEMENTS_MANAGE.SITENAME' | translate:lang}}</span>
                </ng-template>
            </ae-template>
            <ae-template [type]=" 'cell' " [keys]="keys ">
                <ng-template let-context="item ">
                    <span title="{{ context.SiteName }}"> {{ context.SiteName }}</span>
                </ng-template>
            </ae-template>
        </ae-column>


    </ae-datatable>
</div>

<ae-modal-dialog [visible]="showMethodStatementDeleteModal" (cancel)="modalClosed($event)" [closable]="true" [id]="getChildId('ConfirmModal',1)"
    [name]="getChildName('ConfirmModal',1)" *ngIf="showMethodStatementDeleteModal">
    <div class="modal-dialog-header">
        <h3>{{ 'METHOD_STATEMENTS_MANAGE.REMOVE_DIALOG_MSG' | translate:lang }}</h3>
    </div>
    <div class="modal-dialog-body">
        <p>{{ 'METHOD_STATEMENTS_MANAGE.REMOVE_DIALOG_MSG_BODY' | translate:lang:{itemName: selectedMethodStatement.Name} }} </p>
    </div>
    <div class="modal-dialog-footer">
        <ae-button [text]="'METHOD_STATEMENTS_MANAGE.Dialog.Btn_No' | translate:lang" [type]="'button'" [id]="'confirmNo'" [name]="'confirmNo'"
            (aeClick)="modalClosed('No')"></ae-button>
        <ae-button [class]="lightClass" [text]="'METHOD_STATEMENTS_MANAGE.Dialog.Btn_Yes' | translate:lang" [type]="'button'" [id]="'confirmYes'"
            [name]="'confirmYes'" (aeClick)="modalClosed('Yes')"></ae-button>
    </div>
</ae-modal-dialog>

<div class="copy-slideout">

    <ae-slideout [id]="'msCopySlideout'" [name]="'msCopySlideout'" [modelState]="GetMSCopySlideoutState()" [class.slide--animate]="ShowMSCopySlideOut">
        <ng-container *ngIf="ShowMSCopySlideOut">
            <ms-copy [id]="'msCopy'" [name]="'msCopy'" [methodStatement]="selectedMethodStatement" (copyMs)="OnCopied($event)" (cancel)="CloseMSSlideOut($event)">
            </ms-copy>
        </ng-container>
    </ae-slideout>
</div>