.button__collection {
  .button--upload {
    font-size: 80%;
    font-weight: 500;
    padding: 5px 10px;
    color: #000;
    margin-left: 5px;
    ae-icon {
      display: none;
    }
    +div {
      display: none;
    }
  }
  ae-file .file-list {
    display: none;
  }
}

.acc-card {
  max-width: 150px;
  .card__content {
    padding-bottom: 55px;
  }
  .card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon--buttons {
    position: absolute;
    bottom: 15px;
    text-align: center;
    right: 0;
    left: 0;
  }
}
