<div class="appRating" *ngIf="!showDropdown">
  <div class="form-text small justify-content-between" style="display:flex;width:100%" *ngIf="!readOnly">
    <div>Far Below Expectations</div>
    <div>Meets Expectations</div>
    <div>Far Exceeds Expectations</div>
  </div>
  <app-rate
    [readonly]="readOnly || viewOnly"
    [class.justify-content-between]="!readOnly"
    [(rate)]="rate"
    max="5"
    (hover)="hovered = $event"
    (leave)="hovered = 0"
    (rateChange)="valueChange($event)"
    style="outline: none; display:flex !important"
  >
    <ng-template let-fill="fill" let-index="index">
      <span *ngIf="fill === 100" class="star full" [class.full-other]="otherColor" [class.no-margin]="!margin"
        ><mat-icon>lens</mat-icon></span
      >
      <span *ngIf="fill === 0" class="star empty" [class.no-margin]="!margin"><mat-icon>lens</mat-icon></span>
      <span *ngIf="fill < 100 && fill > 0" class="star" [class.no-margin]="!margin">
        <span class="half" [style.width.%]="fill"><mat-icon>lens</mat-icon></span
        ><mat-icon>lens</mat-icon>
      </span>
    </ng-template>
  </app-rate>
</div>

<div *ngIf="showDropdown" style="border-bottom: 1px solid #ccc;" class="mb-3">
  <mat-select placeholder="Rating" [(value)]="rate">
    <mat-option value="0">None</mat-option>
    <mat-option *ngFor="let rate of rates" [value]="rate.value">{{ rate.name }}</mat-option>
  </mat-select>
</div>
