.options{
    .switch-block{
        .toggle-switch{
            display: inline-block;
        }
    }
    ae-radio-group{display: inline-block;
        label{padding: 10px !important; padding-left: 2em !important;}
    }
}