<div [id]="getChildId('div', 1)">
  <div class="so-panel__title" [id]="getChildId('div', 2)">
    <h3 *ngIf="isAddForm()">{{'ADD_TASK' | translate:lang}}</h3>
    <h3 *ngIf="isUpdateForm()">{{'UPDATE_TASK' | translate:lang}}</h3>
  </div>
  <ae-form [formBuilderData]="taskFormVM" [id]="getChildId('AeForm', 1)" [name]="getChildName('AeForm', 1)" [isPrimaryTitle]="false"
    (onSubmit)="onUpdateFormSubmit()" [footerBtnText]="footerBtnText()" (onCancel)="onUpdateFormClosed()" (onFormInit)="onFormInit($event)">
  </ae-form>
</div>