<div class="so-panel__title">
  <h3 class="grey-strip">{{'COMPANY_JOBTITLE.add_jobtitle_details' | translate:lang}}</h3>
</div>
<div class="so-panel__content">
  <div class="information-grid">
    <form class="form" [formGroup]="jobTitleAddForm">
      <section class="information-grid__section">
        <h3>{{'COMPANY_JOBTITLE.jobtitle_details' | translate:lang}}</h3>
        <div class="information-grid__item">
          <div class="information-grid__item-label column-1of3">{{'COMPANY_JOBTITLE.Title' | translate:lang}} <span class="error-text">*</span></div>
          <div class="information-grid__item-value column-2of3 text-muted">
            <ae-input [id]="'Title'" [name]="'Title'" [title]="'COMPANY_JOBTITLE.Title' | translate:lang" formControlName="Name" [placeholder]="'COMPANY_JOBTITLE.Title' | translate:lang"></ae-input>
          </div>
          <span *ngIf="fieldHasRequiredError('Name')" class="form__input__error">{{'COMPANY_JOBTITLE.title_required' | translate:lang}}.</span>
        </div>
      </section>
      <div class="form__error">
      </div>

    </form>
  </div>
</div>
<div class="so-panel__footer">
  <nav>
    <ul>
      <li><label for="soPanel" class="button button--inline-block" [id]="getChildId('AeButton',1)" (click)="onAddFormClosed($event)"
          [title]="'BUTTONS.SLIDE_CLOSE' | translate:lang">{{'BUTTONS.SLIDE_CLOSE' | translate:lang}}</label></li>
      <li class="pull--right">
        <ae-anchor [id]="getChildId('AeAnchor',1)" [name]="getChildName('AeAnchor',1)" [anchorType]="'button'" [class]="'button button--inline-block'"
          [anchorClass]="lightClass" (aeClick)="onAddFormSubmit($event)" [title]="'BUTTONS.SAVE' | translate:lang" [text]="'BUTTONS.SAVE' | translate:lang"></ae-anchor>
      </li>
    </ul>
  </nav>
</div>