<mat-card class="row row_off blog-home">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <app-post-avatar mat-card-avatar [type]="0" [userImage]="answer.associateUser && answer.associateUser.photoUrl"></app-post-avatar>
    </div>
    <mat-card-title>
      <span class="author-name">
        <a routerLink="/profile/{{answer.createdBy}}">{{answer.associateUser ? answer.associateUser.fullname:
          answer.createdBy}}</a>
      </span> &nbsp;
      <span class="post-date">{{ answer.createdOn | date:'MM/dd/yyyy'}}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="post-type">Answer</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="cursor: pointer;" [routerLink]="['/post/view/'+answer.postId]" [fragment]="'answer' + answer.answerId">
      <span [innerHTML]="answer.answerDetails | removeHtmlTags"></span>
    </div>
    <div *ngIf="galleryImages.length > 0">
      <ngx-gallery [images]="galleryImages" [options]="galleryOptions"></ngx-gallery>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class='float-right'>
      <a [routerLink]="['/post/view/'+answer.postId]" [fragment]="'answer' + answer.answerId" href="javascript:">Read
        more</a>
    </div>
  </mat-card-footer>
</mat-card>