<ae-banner [id]="'banner'" [name]="'banner'" [titleText]="'Training'" [backgroundImage]="'/assets/images/lp-training.jpg'">
  <div class="image-text banner-image-text">
    <ae2-breadcrumb [id]="'breadCrumb'" [name]="'breadCrumb'" [group]="bcGroup" class="bredcrumb-section"></ae2-breadcrumb>
  </div>
</ae-banner>
<ae-notification id="'traningInfo'" [name]="'traningInfo'" [iconName]="'icon-info'" [textInfo]="'TRAINING.NOTIFICATION' | translate: lang"></ae-notification>
<training-list></training-list>
