<mat-card>
  <app-page-card-header
    [title]="pageHeading + ' ' + (postType | postType)"
    [icon]="postType | postIcon"
    [postColor]="postType | postColor"
  ></app-page-card-header>
  <form [formGroup]="postForm" class="pt-2">
    <div class="form-group">
      <mat-form-field class="material-control" id="matFormField">
        <mat-select
          placeholder="Category"
          formControlName="category"
          required
          #category
          (valueChange)="updateExpireDate(category.value)"
          id="optCategory"
        >
          <mat-option *ngFor="let category of categories" [value]="category.id" id="catOptions">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.required"> You must enter a value </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="material-control">
        <input
          matInput
          placeholder="Title"
          type="text"
          name="title"
          formControlName="title"
          [maxLength]="256"
          #title
          required
          id="txtTitle"
        />
        <mat-error *ngIf="title.required"> You must enter a value </mat-error>
      </mat-form-field>
    </div>
    Details
    <div class="form-group details">
      <quill-editor
        id="txtDetails"
        bounds="self"
        placeholder=""
        formControlName="details"
        [modules]="{ toolbar: [['bold', 'italic', 'underline'], ['link'], [{ list: 'ordered' }, { list: 'bullet' }]] }"
      >
      </quill-editor>
    </div>
    <div>
      <div style="display: inline-flex;">
        <div class="form-group upload-drop-zone" [fileUploadInputFor]="imageUploadQueue" [files]="attachedImages">
          <label for="imageFile" *ngIf="isHybridApp">Image attachments &nbsp; </label>
          <button (click)="chooseFile($event)" *ngIf="isHybridApp">Choose Images</button>
          <span class="image-upload" [hidden]="isHybridApp">
            <label for="imageFile"> <mat-icon>photo</mat-icon> </label>
            <input
              id="imageFile"
              accept="image/*"
              type="file"
              multiple
              (change)="chooseFile($event)"
              formControlName="imageFile"
            />
          </span>
        </div>
        <div class="form-group upload-drop-zone" [fileUploadInputFor]="fileUploadQueue" [files]="attachedFiles">
          <label for="singleFile" *ngIf="isHybridApp">File attachments &nbsp; </label>
          <button (click)="chooseFile($event)" *ngIf="isHybridApp">Choose Files</button>
          <span class="image-upload ml-2" [hidden]="isHybridApp">
            <label for="singleFile"> <mat-icon>attachment</mat-icon> </label>
            <input id="singleFile" type="file" multiple (change)="chooseFile($event)" formControlName="singleFile" />
          </span>
        </div>
      </div>
      <br />
      <mat-file-upload-queue
        #imageUploadQueue
        [hidden]="!(imageUploadQueue.files.length > 0)"
        [fileAlias]="'file'"
        [httpUrl]="uploadURL"
      >
        <mat-file-upload
          [file]="file"
          [id]="i"
          *ngFor="let file of imageUploadQueue.files; let i = index"
          [maxFiles]="maxNoImages"
          [maxSize]="maxFileLength"
          (onUpload)="addAttachment($event, true)"
          (removeEvent)="removeAttachment($event)"
          [displayType]="'GridView'"
          [allowedTypes]="'image'"
          (onUploadStart)="updateProgress($event)"
        ></mat-file-upload>
      </mat-file-upload-queue>
      <br />
      <label>Attachments <mat-icon>attachment</mat-icon></label>
      <mat-file-upload-queue
        #fileUploadQueue
        [hidden]="!(fileUploadQueue.files.length > 0)"
        [fileAlias]="'file'"
        [httpUrl]="uploadURL"
      >
        <mat-file-upload
          [file]="file"
          [id]="i"
          *ngFor="let file of fileUploadQueue.files; let i = index"
          [maxFiles]="maxNoFiles"
          [maxSize]="maxFileLength"
          (onUpload)="addAttachment($event, false)"
          (removeEvent)="removeAttachment($event)"
          [displayType]="'ListView'"
          (onUploadStart)="updateProgress($event)"
        ></mat-file-upload>
      </mat-file-upload-queue>
    </div>
    <div class="form-group">
      <mat-form-field class="material-control">
        <mat-label>Venues</mat-label>
        <input
          matInput
          placeholder="Please enter 3 or more characters"
          aria-label="Venues"
          id="autoVenue"
          [matAutocomplete]="autoProperty"
          [formControl]="propertyControl"
          [readonly]="isReadonlyVenue"
        />
        <mat-progress-spinner
          matSuffix
          mode="indeterminate"
          diameter="15"
          *ngIf="propertyLoader"
          style="top:9px; position: absolute;"
        ></mat-progress-spinner>
        <a mat-button matSuffix (click)="sendMail()" class="float-right">Missing Hotel?</a>
        <mat-autocomplete #autoProperty="matAutocomplete" (optionSelected)="propertySelected($event)">
          <mat-option *ngFor="let property of (filteredProperties | async)" [value]="property.propertyId">
            <span>{{ property.propertyName }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-hint>Enter Venue Name</mat-hint>
      </mat-form-field>
      <mat-chip-list>
        <mat-chip *ngFor="let property of selectedProperties" color="accent" class="post-chip">
          <a [routerLink]="'/property/' + property.propertyId">{{ property.propertyName }}</a>
          <i class="material-icons pl-3" (click)="removeSelectedProperty(property.propertyId)" style="cursor: pointer;"
            >highlight_off</i
          >
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="form-group">
      <mat-form-field class="material-control">
        <mat-label>Locations</mat-label>
        <input
          matInput
          placeholder="Please enter 3 or more characters"
          aria-label="Locations"
          id="autoLocation"
          [matAutocomplete]="autoLocation"
          [formControl]="locationControl"
        />
        <mat-progress-spinner
          matSuffix
          mode="indeterminate"
          diameter="15"
          *ngIf="locationLoader"
        ></mat-progress-spinner>
        <mat-autocomplete #autoLocation="matAutocomplete" (optionSelected)="locationSelected($event)">
          <mat-option *ngFor="let location of (filteredLocations | async)" [value]="location.id">
            <span>{{ location.name }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-hint>Enter City, Metro Area, State, Country or Region</mat-hint>
      </mat-form-field>
      <mat-chip-list>
        <mat-chip *ngFor="let location of selectedLocations" color="accent" class="post-chip">
          <a [routerLink]="'/search/results/location/' + location.id">{{ location.name }}</a>
          <i class="material-icons pl-3" (click)="removeSelectedLocation(location.id)" style="cursor: pointer;"
            >highlight_off</i
          >
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="form-group">
      <mat-form-field class="material-control">
        <mat-label>Brands</mat-label>
        <input
          matInput
          placeholder="Please enter 3 or more characters"
          id="autoBrands"
          aria-label="Brands"
          [matAutocomplete]="autoPropertyChain"
          [formControl]="propertyChainControl"
        />
        <mat-progress-spinner
          matSuffix
          mode="indeterminate"
          diameter="15"
          *ngIf="propertyChainLoader"
        ></mat-progress-spinner>
        <mat-autocomplete #autoPropertyChain="matAutocomplete" (optionSelected)="propertyChainSelected($event)">
          <mat-option
            *ngFor="let propertyChain of (filteredPropertyChains | async)"
            [value]="propertyChain.propertyChainID"
          >
            {{ propertyChain.propertyChainName }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>Enter Brand Name</mat-hint>
      </mat-form-field>
      <mat-chip-list>
        <mat-chip *ngFor="let propertyChain of selectedPropertyChains" color="accent" class="post-chip">
          <a [routerLink]="'/search/results/brand/' + propertyChain.propertyChainID">{{
            propertyChain.propertyChainName
          }}</a>
          <i
            class="material-icons pl-3"
            (click)="removeSelectedPropertyChain(propertyChain.propertyChainID)"
            style="cursor: pointer;"
            >highlight_off</i
          >
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="form-group">
      <mat-form-field class="material-control">
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minExpirationDate"
          id="txtExpiration"
          placeholder="Expiration Date"
          formControlName="expirationDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-slide-toggle
        color="primary"
        [labelPosition]="'before'"
        id="expRemainder"
        formControlName="expirationReminder"
        >Do Not Remind Me</mat-slide-toggle
      >
    </div>
    <div class="form-group mb-4">
      <span class="float-right post-buttons">
        <button
          mat-raised-button
          type="button"
          id="btnSubmit"
          (click)="onSubmit()"
          [disabled]="!isEditable || postForm.pristine || postForm.invalid || isUploadInProgress"
          class="submit-button"
        >
          Submit
        </button>
        &nbsp;
        <button
          mat-raised-button
          type="button"
          id="idCancel"
          (click)="cancel()"
          color="accent"
          [disabled]="isUploadInProgress"
        >
          Cancel
        </button>
        &nbsp;
        <button
          mat-raised-button
          type="button"
          id="idArchive"
          (click)="archivePost()"
          class="archive-button"
          *ngIf="postId && isEditable"
          [disabled]="isUploadInProgress"
        >
          Archive
        </button>
        &nbsp;
        <button
          mat-raised-button
          type="button"
          id="idDelete"
          (click)="deletePost()"
          class="delete-button"
          *ngIf="postId && isEditable"
          [disabled]="isUploadInProgress"
        >
          Delete
        </button>
      </span>
    </div>
    <br />
    <br />
    <br />
  </form>
</mat-card>
