<div id="incidentFormalInvestigation" class="incident-formal-investigation">
    <ae-notification [id]="'incidentFormalInvestigationNotification'" [name]="'incidentFormalInvestigationNotification'" [iconName]="'icon-info'"
        [textInfo]="'INCIDENT_FORMAL_INVESTIGATION_DETAILS.incident_formal_investigation_header_message' | translate:lang"></ae-notification>
    <div *ngIf="!isFormalInvestigationRequiredChanged()">
        <ae-form [formBuilderData]="incidentFormalInvestigationFormVM" [id]="'incidentFormalInvestigationForm'" [name]="'incidentFormalInvestigationForm'"
            [isPrimaryTitle]="false" [displayFooter]="false" (onFormInit)="onFormInit($event)" (isFormValid)="onFormValidityChange($event)">
        </ae-form>
    </div>
    <div *ngIf="isFormalInvestigationRequiredChanged()" class="loader-container">
        <ae-loader [loaderType]="loaderType"></ae-loader>
    </div>
</div>

<ae-modal-dialog [visible]="showPopUp" (cancel)="modalClosed($event)" [closable]="false" [id]="getChildId('Aemodal', 1)"
    [name]="getChildName('Aemodal', 1)" *ngIf="showPopUp">
    <div class="modal-dialog-header">
        <h3> {{'INCIDENT_KEY_FIELD.NOTIFICATION_HEADER' | translate:lang}}</h3>
    </div>
    <div class="modal-dialog-body">
        <p>{{'INCIDENT_KEY_FIELD.NOTIFICATION_MESSAGE' | translate:lang}} </p>
    </div>
    <div class="modal-dialog-footer">
        <ae-button [text]="'INCIDENT_KEY_FIELD.BUTTON_REMAIN' | translate:lang" [title]="'INCIDENT_KEY_FIELD.BUTTON_REMAIN' | translate:lang"
            [type]="'button'" [id]="'submitConfirmCancel'" [name]="'submitConfirmCancel'" (aeClick)="modalClosed($event)"></ae-button>
        <ae-button [class]="lightClass" [text]="'INCIDENT_KEY_FIELD.BUTTON_CONTINUE' | translate:lang" [title]="'INCIDENT_KEY_FIELD.BUTTON_CONTINUE' | translate:lang"
            [type]="'button'" [id]="'submitConfirm'" [name]="'submitConfirm'" (aeClick)="onConfirmation($event)"></ae-button>
    </div>
</ae-modal-dialog>